


/* slider-section */
.slider-section{
    background: url("./AAAAAAAAA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    position: relative;
    z-index: 1;
}

.slider-section::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
}



/* jon-header */
nav.navbar.jon-header {
    font-size: 20px;
}
a.nav-link.active {
    margin-left: 20px;
    margin-right: 20px;
}


i.fas.fa-mobile {
    padding: 11px;
    background: green;
    color: #fff;
    border-radius: 5px;
}





/* slider-caption */
.slider-caption h2 {
    padding: 7px;
    font-size: 52px;
    margin-bottom: 49px;
}


.slider-caption h4 {
    padding: 15px;
}
input.form-control.form-control-lg {
    margin-left: 22px;
    padding: 7px;
    width: 245px;
  
}
button.btn.btn-info.btn-lg.btn-block {
    width: 192px;
    font-weight: 700;
    color: #fff;
    background: #579830;
    margin-left: -54px;
}
.About-section{
    background: #f3f6fb;
}
.text-about.py-5 {
    margin-top: 65px;
    line-height: 29px;
}


/* folio-item */
.portfolip-item{}
.portfolip-item a{
    position: relative;
    display: block;

}
.portfolip-item a::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.564);
    opacity: 0;
    visibility: hidden;
    transition: .7s;
   

}
.portfolip-item:hover a::after{
    opacity: 1;
    visibility: visible;
}


/* section */
.section{ background: #f7f9ff;
padding: 50px;}
.card-section h1 {
    margin-left: 21px;
    font-weight: 600;
}
.section p{}
.card-section{
    background: #ffff;
}
.card-section h5 {
    margin-left: 23px;
}
.card-section h5{}
.card-section ul{
    margin-left: 0;
    padding-left: 0;
}
.card-section ul li span {
    color: aquamarine;
    font-size: 20px;
    display: inline-block;
    width: 32px;
    font-weight: 600;
}
.card-section ul li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    margin-left: 17px;
    font-weight: 600;
}
.prizing-item a {
    padding: 7px 57px;
    box-shadow: 4px 3px 4px -1px;
}
.section-img img {
    float: left;
    width: 113px;
    margin: auto;
}
.section-img p {
    width: 261px;
    text-align: center;
    margin: auto;
}

img.rounded-circle.w-25 {
    margin-top: -35px;
    margin-left: 11px;
}